body {
    width: 300px;
    background-color: #131516;
    display: flex;
    justify-content: center;
    border : 2px solid yellow;
    border-radius: 25px;
}

h5 {
    margin: auto 10px;
    font-size: 22px;
    color: white;
    border-radius: 6px;
    padding: 16px;
}

